@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-federant: "Federant", sans-serif;
  --font-lobster: "Lobster", sans-serif;
}

.ProseMirror {
  min-height: 500px;
  background-color: black;
  color: aliceblue;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  white-space: pre-wrap;
  padding: 8px;
}

.ProseMirror h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.ProseMirror h2 {
  font-size: 1.75rem;
  font-weight: 600;
}


.prose-thought .ProseMirror {
  min-height: 500px;
  background-color: white;
  color: black;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  white-space: pre-wrap;
  padding: 8px;
  text-align: justify;
}

.dark .prose-thought .ProseMirror {
  background-color: black;
  color: white;
}
/* .tiptap {
  :first-child {
    margin-top: 0;
  }

  /* Youtube embed */
/* div[data-youtube-video] {
    width: 100%;
    max-width: 900px;
    margin: 2rem auto;
    cursor: move;

    iframe {
      display: block;
      width: 100%;
      max-width: 100%;
      aspect-ratio: 16 / 9;
      height: auto;

      border: 0.5rem solid var(--black-contrast);
      border-radius: 20px;
      outline: 0 solid transparent;
      box-sizing: border-box;
    }

    &.ProseMirror-selectednode iframe {
      outline: 3px solid var(--purple);
      transition: outline 0.15s;
    }
  }
} */

.tiptap div[data-youtube-video] {
  width: 100%;
  max-width: 900px;
  margin: 2rem auto;
}

.tiptap div[data-youtube-video] iframe {
  display: block;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: 0.5rem solid var(--black-contrast);
  border-radius: 20px;
  box-sizing: border-box;
}
